<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application 
        android:label="装袋车间" 
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        
        <!-- 这里可以使用 .MainActivity 因为它在上面 build.gradle 定义的 namespace 下 -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    
</manifest>
